body {
  background-color: #ff7a7a;
  font-family: "Poppins";
  /*  .background-mobile {
        display: none;
    }
    */
}

body .background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

body .content {
  z-index: 5;
  padding: 4% 7%;
}

body .content .text-col {
  color: white;
  padding: 9% 4%;
}

body .content .text-col h1 {
  font-size: 45px;
  line-height: 3rem;
  font-weight: 700;
}

body .content .text-col h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 2rem;
}

body .content .form-col {
  padding: 2%;
}

body .content .form-col .head-form {
  background-color: #6055a5;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

body .content .form-col .head-form h4 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

body .content .form-col .head-form h4 strong {
  font-weight: 600;
}

@media screen and (max-width: 789px) {
  .form-col .head-form {
    height: 100px;
    text-align: center;
  }
  .form-col .head-form h4 {
    margin-top: 3%;
  }
  /* .background {
        display: none;
    }
    .background-mobile {
        display: flex;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }*/
}
